body {
    background-color: white;
}
h1 {
    color: rgb(0, 168, 0);
    text-align: center;
    font-size: 30px;
}
h2 {
    color: rgb(85, 85, 85);
    font-size: 18px;
}
img {
    border: 2px solid black;
}